<a href="https://colab.research.google.com/github/komoni03/housing-pricing-model/blob/main/Housing_Pricing_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df_test = pd.read_csv('/content/sample_data/california_housing_test.csv')
df_train = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [4]:
df_test.shape

(3000, 9)

In [5]:
df_train.shape

(17000, 9)

In [6]:
df_test.describe(include='all')

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

In [7]:
df_train.describe(include='all')

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [8]:
df_train.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [9]:
df_test.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

The train dataset has 0 null values. We can proceed to look at indiviual columns and ascertain their relevance in detrmining the housing price

Next, we will split the columns into the target variable and input variables

In [10]:
X_train = df_train.drop(columns=['median_house_value']) #input variable for the train dataset

y_train = df_train['median_house_value']      #target variable for thr train dataset

In [11]:
train_shape = {'X_train': X_train.shape, 'y_train': y_train.shape}
print(train_shape)

{'X_train': (17000, 8), 'y_train': (17000,)}

In [12]:
X_test = df_test.drop(columns=['median_house_value'])         #input variable for the test dataset

y_test = df_test['median_house_value']      #target variable for thr test dataset

In [13]:
test_shape = {'X_test': X_test.shape, 'y_test': y_test.shape}
print(test_shape)

{'X_test': (3000, 8), 'y_test': (3000,)}

In [14]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [15]:
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    model = RandomForestRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(X_train, y_train)
    preds_val = model.predict(X_test)
    mae = mean_absolute_error(y_test, preds_val)
    return(mae)

# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000, 10000]:
    my_mae = get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  61937
Max leaf nodes: 50  		 Mean Absolute Error:  43578
Max leaf nodes: 500  		 Mean Absolute Error:  34536
Max leaf nodes: 5000  		 Mean Absolute Error:  32125
Max leaf nodes: 10000  		 Mean Absolute Error:  32107

In [16]:
forest_model = RandomForestRegressor(max_leaf_nodes=10000, random_state=1)
forest_model.fit(X_train, y_train)
y_preds = forest_model.predict(X_test)

Compare RandomForestRegressor model with LinearRegression model based on mae scores

In [17]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_preds_y = linear_model.predict(X_test)

In [18]:
linear_mae_score = mean_absolute_error(y_test, linear_preds_y)
print(f'The mean absolute error for the LinearRegression model is: {linear_mae_score}')

The mean absolute error for the LinearRegression model is: 50352.22825794297

From the Mean absolute error scores of both the RandomFOrestRegressor and LinearRegression models, it can be said that the RandomForestRegressor Model is more accurate and can be used to predict hosuing prices given the required input